#signupcontainer{
    background: #ffffff;
    width: 50%;
    padding: 5%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

#signupbutton{
    border-radius: 64px;
    background-color: #ff3b3b;
    font-size: large;
    color: #ffffff;
    
}


